{% extends 'main/application.html' %}

{% block content %}

<form action="{% url 'openhumans:message' %}" method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
       {{ hidden_field }}
     {% endfor %}

     {% for error in form.non_field_errors %}
         {{error}}
     {% endfor %}

     {% for field in form.visible_fields %}
       <div class="form-group">
         <label for="{{ field.label }}">{{ field.label }}</label>

         {{ field }}
         {% if field.help_text %}
           <small class="form-text text-muted">{{ field.help_text }}</small>
         {% endif %}
       </div>
     {% endfor %}
      <input type="submit" value="Submit" />
</form>


{%endblock%}
